
<header>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-collapse"></button>
        <a class="navbar-brand" href=".">Kurento Tutorial</a>
      </div>
      <div class="collapse navbar-collapse"
           id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a
            href="https://github.com/Kurento/kurento-tutorial-java/tree/master/kurento-one2one-call"><span
            class="glyphicon glyphicon-file"></span> Source Code</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

