
<footer>
  <div class="foot-fixed-bottom">
    <div class="container text-center">
      <hr />
      <div class="row">&copy; 2014-2015 Kurento</div>
      <div class="row">
        <div class="col-md-4">
          <a href="http://www.urjc.es"><img src="assets/img/urjc.gif"
                                            alt="Universidad Rey Juan Carlos" height="50px" /></a>
        </div>
        <div class="col-md-4">
          <a href="http://www.kurento.org"><img src="assets/img/kurento.png"
                                                alt="Kurento" height="50px" /></a>
        </div>
        <div class="col-md-4">
          <a href="http://www.naevatec.com"><img src="assets/img/naevatec.png"
                                                 alt="Naevatec" height="50px" /></a>
        </div>
      </div>
    </div>
  </div>
</footer>
